@import url("https://use.typekit.net/iyz4vwz.css");

  $color-black: #000000;
  $color-gray-dark: #261F23;
  $color-gray-light: #AAAAAA;
  $color-yellow: #FFAA00;
  $color-white: #FFFFFF;


*{
  font-family: proxima-nova, sans-serif;
}

.form-select{
    &:focus{
    outline: solid $color-gray-light;
    }
}


.navLink{
    color: $color-gray-dark;
    text-decoration: none;

    &:hover{
        color: $color-gray-light;
        cursor: pointer;
    }
}

.header{
  background-color: $color-white;
  height: 2.5rem;
  box-shadow: 0px 0px 40px $color-gray-light;

  &__siteTitle{
    font-size: 2rem;
    width: 200px;
    // margin-top: .5rem;
  }
}

// Home Page
.hero-img-container{
    margin-top: 6rem;
    border-radius: 20px;
    width: 80vw;
    overflow: hidden;
    position: relative;

    &__img{
        width: 100%;
        height: 400px;
        // object-fit: cover;
        background-image: linear-gradient(to right, transparent, rgba($color-white, .7), rgba($color-white, .8)), url('assets/images/background/hero.jpg');
        background-size: cover;
        background-position: center;
  }

    &__text{
        width: 20rem;
        position: absolute;
        right: 8rem;
        top: 10rem;
    }

}

  //Create Page
.create-section-1{
    margin-top: 5rem;
}

.preview-col{
    width: 500px;
}

.preview-container{
    width: 500px;
    height: 500px;
    position: relative;

        &__blankCanvas{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        }

        &__previewBackground{
        width: 95%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        }

        &__previewHuman{
            width: 100%;
            position: absolute;
        }

        &__previewDog{
            width: 100%;
            position: absolute;
        }
}

.cart-preview-container{
    width: 100px;
    height: 100px;
    position: relative;
    box-shadow: 5px 5px 10px $color-gray-light;

        &__blankCanvas{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        }

        &__previewBackground{
        width: 95%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        }

        &__previewHuman{
            width: 100%;
            position: absolute;
        }

        &__previewDog{
            width: 100%;
            position: absolute;
        }
}

.option-container{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    margin: .2rem;
    border: 1px solid $color-gray-light;
    cursor: pointer;

    &:hover{
        background-color: $color-yellow;
    }

    &__image{
        object-fit: cover;
        padding: 0 2rem 1rem 0;
        width: 150%;
        height: 150%;
        // border-radius: inherit;
    }
}

.bg-thumbnail{
    overflow: hidden;
    padding: 0;

    &:hover{
        filter: brightness(.9);
    }
}



.selected{
    border: 3px solid $color-yellow;

    &:hover{
        border: 3px solid $color-yellow;
    }
}

//Components
.button{
    width: 12rem;
    margin: 5px;

    &__bgTransparent{
        background-color: transparent;
        color: black;
        border: 1px solid $color-gray-dark;

        &:hover{
            background-color: $color-gray-dark;
            border: 1px solid transparent;
            color: white;
        }
    }

    &__bgPrimary{
        background-color: $color-yellow;
        color: $color-gray-dark;
        border: 1px solid transparent;

        &:hover{
            background-color: transparent;
            border: 1px solid $color-gray-dark;
            color: black;
        }
    }

    &__bgGray{
        background-color: $color-gray-dark;
        color: $color-white;
        border: 1px solid transparent;

        &:hover{
            background-color: rgba($color-gray-dark, .9);
            border: 1px solid transparent;
            color: $color-white;
        }
    }


}

//Cart Modal
.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal{
    width: clamp(30%, 300px, 50%);
    height: min(50%, 600px);
    background-color: $color-white;
    margin: auto;
    padding: 0, 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}

.cart-item-container{
    width: 100%;
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
    padding: 15px;
    margin: 20px;

}